<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel='stylesheet' href='/asset/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
<script>
    var socket = io();
    socket.on('new.user.up', function(data) {
      console.log(data);
      socket.emit('received', { res: 'gochya' });   
    });
    console.log(socket);
</script>
</html>
